<h2 mat-dialog-title>Confirm parachute deployment</h2>
<mat-dialog-content>
  <p>
    You're about to fire the parachute whereas the rocket is on ground. To
    confirm, type "fire" in the box below.
  </p>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Confirm parachute fire</mat-label>
    <input
      #parachuteConfirmation
      matInput
      placeholder="Type 'fire' to confirm" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end">
  <button mat-button [mat-dialog-close]="">cancel</button>
  <button
    mat-button
    (click)="onReleaseParachute()"
    [disabled]="parachuteConfirmation.value !== 'fire'"
    [mat-dialog-close]=""
    color="warn"
    cdkFocusInitial>
    Fire
  </button>
</mat-dialog-actions>
