<!--<mat-dialog-content class="mat-typography">-->
<!--  <section class="example-section">-->
<!--    <h4>Select your devices :</h4>-->
<!--    <p *ngFor="let control of devices">-->
<!--      <mat-checkbox>{{ control.name }}</mat-checkbox>-->
<!--    </p>-->
<!--  </section>-->
<!--</mat-dialog-content>-->
<!--<mat-dialog-actions align="end">-->
<!--  <button mat-button mat-dialog-close>Cancel</button>-->
<!--  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>-->
<!--</mat-dialog-actions>-->
