<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="row gap-4">
        <div class="col-12">
          <app-device-status-cockpit [rocket]="rocket">
          </app-device-status-cockpit>
        </div>
        <div class="col-12">
          <app-simulations> </app-simulations>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row m-3">
        <div class="col-6 me-auto">
          <app-logs [data]="rocket.rawData"></app-logs>
        </div>
        <div class="col-5">
          <app-serial-config-cockpit></app-serial-config-cockpit>
        </div>
        <div class="col-auto align-content-center d-flex">
          <button class="btn" (click)="onExitApp()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-power"
              viewBox="0 0 16 16">
              <path d="M7.5 1v7h1V1z" />
              <path
                d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812" />
            </svg>
          </button>
        </div>
      </div>
      <div class="row rounded-4 main-dashboard pt-4 pb-1">
        <div class="row row-cols-2">
          <div class="col">
            <app-three-d-orientation-cockpits [rocket]="rocket">
            </app-three-d-orientation-cockpits>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-6">
                <app-acceleration axis="all" [rocket]="rocket">
                </app-acceleration>
              </div>
              <div class="col-6">
                <!--                <app-acceleration axis="y" [rocket]="rocket"></app-acceleration>-->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <app-altitude-chart [rocket]="rocket"></app-altitude-chart>
          </div>
          <div class="col-4">
            <app-map-cockpit [rocket]="rocket"></app-map-cockpit>
            <!--            <app-acceleration axis="z" [rocket]="rocket" height="370"></app-acceleration>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
