<app-cockpit title="Rocket Environement" [tiny]="true">
  <div class="row d-flex justify-content-around">
    <div class="col-auto">
      <button
        class="btn rounded-5 shadow-none"
        type="button"
        (click)="onReleaseParachute()">
        <img
          ngSrc="assets/icons/parachute.svg"
          width="24"
          height="24"
          alt="Parachute Logo" />
      </button>
      <h6 class="text-center mt-2" style="font-size: 0.8em">PARACHUTE</h6>
    </div>
    <div class="col-auto">
      <button
        class="btn rounded-5 shadow-none"
        type="button"
        (click)="onReleaseDialog()">
        <img
          ngSrc="assets/icons/explosion.svg"
          width="24"
          height="24"
          alt="Explosion logo" />
      </button>
      <h6 class="text-center mt-2" style="font-size: 0.8em">IGNITION</h6>
    </div>
    <div class="col-auto">
      <button (click)="onClearStorage()" class="btn rounded-5 shadow-none">
        <img
          ngSrc="assets/icons/save.svg"
          width="24"
          height="24"
          alt="Save logo" />
      </button>
      <h6 class="text-center mt-2" style="font-size: 0.8em">RESET STORAGE</h6>
    </div>
  </div>
</app-cockpit>
