<div class="devices-container mt-3 p-4 rounded-4">
  <div class="row py-3 header m-1 rounded-4">
    <div class="col-2">
      <div class="logo rounded-circle align-items-center d-flex">
        <img alt="" class="mx-auto" src="assets/icons/rocket-monitor.png" />
      </div>
    </div>
    <div class="col-10">
      <h1 class="lh-base">Rocket Monitor</h1>
    </div>
  </div>
  <div class="row mt-4 mx-1">
    <div class="col-8 d-flex">
      <h6>DEVICES</h6>
      <span
        [matTooltip]="message"
        [ngClass]="{
          success: isReady,
          error: !isReady
        }"
        class="rocket-status rounded-circle mt-1 mx-2">
      </span>
    </div>
    <div class="col-4">
      @if (rocket().serial.isDebugMode) {
        <p style="font-size: 12px; text-align: end" class="text-danger">
          DEBUG MODE
        </p>
      } @else if (rocket().serial.isConnected) {
        <p style="font-size: 12px; text-align: end" class="text-success">
          Base Connected
        </p>
      } @else {
        <p style="font-size: 12px; text-align: end" class="text-danger">
          Not Connected
        </p>
      }
    </div>
  </div>
  <div class="row gy-3">
    <div
      *ngFor="let device of devices"
      [class.blink]="device.status === 'critical' || device.status === 'fired'"
      [class.warning]="device.status === 'fired'"
      [class.error]="
        device.status === 'critical' ||
        device.status === 'low' ||
        device.status === 'down'
      "
      [class.success]="device.status === 'ready' || device.status === 'high'"
      class="col-5 device px-4 pt-3 pb-2 mx-auto">
      <div class="device-img rounded-circle align-items-center d-flex">
        <img
          [alt]="device.name"
          [height]="device.imgHeight"
          [ngSrc]="device.icon"
          [width]="device.imgWidth"
          class="mx-auto d-block" />
      </div>
      <h5 class="mt-2 text-white">
        {{ device.name }}
      </h5>
    </div>
  </div>
  <div class="row mt-4">
    <app-actions-cockpit [rocket]="rocket()"> </app-actions-cockpit>
  </div>
</div>
