.devices-container {
  position: relative;
  box-sizing: border-box;

  $border: 1px;
  color: #fff;
  background: #000;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(
      220.55deg,
      var(--bs-secondary) 0%,
      var(--bs-primary) 100%
    );
  }
}

.header {
  background: linear-gradient(180deg, #05193a 0%, #020813 100%);
}

.logo {
  width: 64px;
  height: 64px;
  border: 2px solid var(--bs-secondary);
}

.logo img {
  width: 80%;
  height: auto;
}

.rocket-status {
  width: 10px;
  height: 10px;
  background-color: #0c141f;
}

.device {
  background-color: #0c141f;
  border-radius: 25px;
}

.device img {
  width: 20px;
  height: 20px;
}

.device-img {
  width: 35px;
  height: 35px;
  background-image: inherit;
}

.success {
  background: linear-gradient(220.55deg, #00b960 0%, #00552c 100%);
}
.error {
  background: linear-gradient(220.55deg, #ff0000 0%, #470000 100%);
}
.warning {
  background: linear-gradient(220.55deg, #ffd439 0%, #ff7a00 100%);
}

.blink {
  animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  50% {
    background: #0c141f none;
  }
}
