<div class="container rounded-4 align-items-center m-0 p-0 overflow-hidden">
  <div *ngIf="!tiny" class="row">
    <div class="col-12">
      <div class="hstack">
        <h2 class="fs-6 pt-3 px-3 pb-1">{{ title | uppercase }}</h2>
        <div class="ms-auto">
          <button *ngIf="resetBtn" (click)="onReset()" class="btn border-0">
            <img
              ngSrc="assets/icons/restart.svg"
              width="24"
              height="24"
              alt="Restart btn" />
          </button>
          <button
            *ngIf="settingsBtn"
            (click)="onOpenSettings()"
            class="btn border-0">
            <img
              ngSrc="assets/icons/settings.svg"
              width="24"
              height="24"
              alt="settings logo" />
          </button>
          <button *ngIf="locateBtn" (click)="onLocate()" class="btn border-0">
            <img
              ngSrc="assets/icons/location_searching.svg"
              width="24"
              height="24"
              alt="Locate logo" />
          </button>
          <button *ngIf="copyBtn" (click)="onCopy()" class="btn border-0">
            <img
              ngSrc="assets/icons/content_copy.svg"
              width="24"
              height="24"
              alt="Copy logo" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    @if (!tiny && topLine) {
      <div class="row">
        <hr class="border-0 w-75 mx-auto" />
      </div>
    }
    <div [class.p-4]="!noPadding">
      <h6 *ngIf="tiny">{{ title | uppercase }}</h6>
      <ng-content></ng-content>
    </div>
  </div>
</div>
