.container {
  background-color: #0c1420;
  border: 2px solid #0f2549;
}

hr {
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(12, 20, 32, 100),
    rgba(169, 169, 169, 0.75),
    rgba(12, 20, 32, 100)
  );
}

.content {
  display: none;
  overflow: hidden;
}
