.current {
  font-family: "Poppins Bold", sans-serif;
  width: 70%;
  container-type: inline-size;
  container-name: speed;
}

@container speed (max-width: 100px) {
  .speed-progress {
    font-size: 20px;
  }

  .speed-unit {
    padding-top: 2px;
    font-size: 10px;
  }
}

@container speed (min-width: 101px) {
  .speed-progress {
    font-size: 0.6em;
  }

  .speed-unit {
    font-size: 0.3em;
  }
}

@container speed (min-width: 200px) {
  .speed-progress {
    font-size: 1em;
  }

  .speed-unit {
    font-size: 0.5em;
  }
}

@container speed (min-width: 600px) {
  .speed-progress {
    font-size: 4em;
  }

  .speed-unit {
    font-size: 1em;
  }
}
