<app-cockpit title="speed">
  <div class="row">
    <div class="col-12">
      <div class="progress-wrapper position-relative">
        <div
          class="current text-center position-absolute"
          [ngStyle]="getOverlayStyle()">
          <h2 class="speed-progress">{{ speed.toFixed(2) }}</h2>
          <h6 class="speed-unit" style="margin-top: -15px">km/h</h6>
        </div>
        <round-progress
          [current]="speed"
          [max]="getMax()"
          [color]="progressConfig.color"
          [stroke]="progressConfig.stroke"
          [radius]="progressConfig.radius"
          [rounded]="progressConfig.rounded"
          [duration]="progressConfig.duration"
          [animation]="progressConfig.animation"
          [clockwise]="progressConfig.clockwise"
          [background]="progressConfig.background"
          [semicircle]="progressConfig.semicircle"
          [responsive]="progressConfig.responsive">
        </round-progress>
      </div>
    </div>
  </div>
</app-cockpit>
