<app-cockpit
  [noPadding]="true"
  [title]="String('Acceleration') + String(axis !== 'all' ? '・' + axis : '')">
  <div class="row">
    <div class="col-12 picker">
      <div
        [id]="'acceleration-' + axis"
        [style.height]="height + 'px'"
        style="width: 100%"></div>
    </div>
  </div>
</app-cockpit>
