<form class="h-100" [formGroup]="serialForm">
  <div class="row gap-2 h-100 justify-content-center">
    <div
      class="col-4 p-3 d-flex justify-content-center align-items-center rounded-4 bg-black">
      <img
        class="mx-1"
        ngSrc="assets/icons/schedule.svg"
        width="30"
        height="30"
        alt="Schedule Logo" />
      <h3 class="lh-lg">
        {{ currentTime }}
      </h3>
    </div>
    <div class="col-auto p-3 rounded-4 bg-black">
      <div class="row row-cols-2 d-flex justify-content-center">
        <div class="col align-content-center">
          <div class="dropdown mt-2">
            <button
              class="btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              <img ngSrc="assets/icons/usb.svg" width="30" height="30" alt="" />
              <span *ngIf="serialForm.get('port').value">
                {{ serialForm.get("port").value | slice: 4 : 15 }}
              </span>
              <span *ngIf="!serialForm.get('port').value"> Port </span>
            </button>
            <ul formControlName="port" class="dropdown-menu dropdown-menu-dark">
              <li *ngFor="let port of ports" [class.value]="port.port_name">
                <a class="dropdown-item" (click)="onSelectPortOption(port)">{{
                  port.port_name
                }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="dropdown mt-2">
            <button
              class="btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              <img
                ngSrc="assets/icons/speed.svg"
                width="30"
                height="30"
                alt="" />
              <span *ngIf="serialForm.get('baud').value">
                {{ serialForm.get("baud").value }}
              </span>
              <span *ngIf="!serialForm.get('baud').value"> Baud </span>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li *ngFor="let baud of bauds" [class.value]="baud">
                <a class="dropdown-item" (click)="onSelectBaudOption(baud)">{{
                  baud
                }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
