<div class="row h-100 justify-content-center">
  <div class="col-12 p-3 rounded-4 bg-black overflow-x-scroll">
    <div class="mask mx-auto">
      <span
        class="d-block"
        style="
          font-size: 14px;
          white-space: nowrap;
          letter-spacing: 3px;
          line-height: 20px;
        "
        *ngFor="let data of logs; let i = index">
        {{ JSON.stringify(data) }}
      </span>
    </div>
  </div>
</div>
