<app-cockpit
  title="Altimeter"
  [resetBtn]="true"
  (resetBtnClicked)="onTareAltitude()">
  <div class="row">
    <div class="col-12 picker">
      <div class="d-flex flex-column">
        <h5
          *ngFor="let _altitude of getAltitudes()"
          [class.current]="_altitude === altitude - tare">
          {{ _altitude }}
          <span *ngIf="_altitude === altitude - tare">m</span>
        </h5>
      </div>
    </div>
  </div>
</app-cockpit>
