<app-cockpit [noPadding]="true" title="Altimeter">
  <div class="row">
    <div class="col-12 picker">
      <div id="chart_altitude" style="width: 100%; height: 400px"></div>
    </div>
  </div>
</app-cockpit>
