.segment {
  height: 10px;
  width: 4px;
  border-radius: 5px;
  background-color: #4bd9ff;
}

.big-segment {
  background-color: #5928e7;
  height: 25px !important;
}

.quarter-segment {
  height: 18px;
}

svg {
  fill: #eb6251;
}

.half-segment {
  background-color: #5928e7;
}

.loop::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.loop {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
