<app-cockpit title="Compass">
  <div class="row">
    <div class="col text-center">
      <h6>{{ orientation }}° {{ getCoordinate() }}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <svg
        class="mx-auto d-block h-auto"
        xmlns="http://www.w3.org/2000/svg"
        height="25"
        viewBox="0 -960 960 960"
        width="25">
        <path
          d="M134-160q-18 0-26.5-15.5T109-206l347-553q9-14 25-14t25 14l345 553q9 15 1 30.5T826-160H134Z" />
      </svg>
      <div class="overflow-x-scroll d-flex loop">
        <table>
          <tr>
            <th class="text-center" *ngFor="let degree of degrees">
              <span *ngIf="degree === 0">N</span>
              <span *ngIf="degree === 90">E</span>
              <span *ngIf="degree === 180">S</span>
              <span *ngIf="degree === 270">W</span>
            </th>
          </tr>
          <tr>
            <td *ngFor="let degree of degrees" class="align-text-bottom">
              <span
                [class.big-segment]="degree % 90 === 0"
                [class.half-segment]="degree % 45 === 0"
                [class.quarter-segment]="degree % 15 === 0"
                class="segment mx-1 d-inline-block">
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</app-cockpit>
