<app-cockpit title="Simulations" [tiny]="true">
  <div class="row">
    <div class="col-4" *ngFor="let simulation of simulations">
      <button class="btn p-4 bg-dark rounded-4 btn-simulation">
        {{ simulation.name }}
      </button>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-2">
      <button class="btn border-0">
        <img
          ngSrc="assets/icons/edit.svg"
          width="24"
          height="24"
          alt="Edit Icon" />
      </button>
    </div>
    <div class="col-2">
      <button class="btn border-0">
        <img
          ngSrc="assets/icons/delete.svg"
          width="24"
          height="24"
          alt="Edit Icon" />
      </button>
    </div>
    <div class="col-2">
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        class="btn border-0">
        <img
          ngSrc="assets/icons/add.svg"
          width="24"
          height="24"
          alt="Edit Icon" />
      </button>
    </div>
  </div>
</app-cockpit>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add simulation</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="simulationForm">
          <div class="row">
            <div class="col-12">
              <h6>Rocket Information</h6>
              <div class="dropdown">
                <button
                  class="btn dropdown-toggle shadow-none border-0"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Rocket type:
                  {{ simulationForm.get("rocketType").value }}
                </button>
                <ul class="dropdown-menu">
                  @for (type of rocketType; track type) {
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="onchangeRocketType(type)">
                        {{ type }}
                      </a>
                    </li>
                  }
                </ul>
              </div>
            </div>
          </div>

          <div class="row row-cols-2">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>CG and CP interval</mat-label>
                <input
                  formControlName="CGCPSpace"
                  matInput
                  placeholder="0.15" />
                <span matTextSuffix>m</span>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Rocket diameter</mat-label>
                <input
                  formControlName="rocketDiameter"
                  matInput
                  placeholder="0.07" />
                <span matTextSuffix>m</span>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
