<h2 mat-dialog-title>Confirm Ignition</h2>
<mat-dialog-content>
  <p>
    You're about to start the engine. To confirm, type "fire" in the box below.
  </p>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Confirm Ignition</mat-label>
    <input #motorConfirmation matInput placeholder="Type 'fire' to confirm" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end">
  <button mat-button [mat-dialog-close]="">cancel</button>
  <button
    mat-button
    (click)="onMotorIgnition()"
    [disabled]="motorConfirmation.value !== 'fire'"
    [mat-dialog-close]=""
    color="warn"
    cdkFocusInitial>
    Fire
  </button>
</mat-dialog-actions>
