@import "themes.scss";

@font-face {
  font-family: "Lato", sans-serif;
  src: url(./assets/font/Lato-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

h1,
h2 {
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
}
