// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@include mat.elevation-classes();
@include mat.app-background();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$primary-palette: (
  50: #eee6fc,
  100: #d2c2f7,
  200: #b399f3,
  300: #936eef,
  400: #774cec,
  500: #622dfa,
  600: #4a24e1,
  700: #331bd8,
  800: #0c14d3,
  900: #0000cb,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #ffc400,
  A700: #ffab00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$accent-palette: (
  50: #daf6fe,
  100: #9fe6fd,
  200: #49d6fd,
  300: #00c5fc,
  400: #00b7fc,
  500: #00aafc,
  600: #009cee,
  700: #0089db,
  800: #0078c8,
  900: #0058a8,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #ffc400,
  A700: #ffab00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rocket-monitor-primary: mat.m2-define-palette($primary-palette, 500);
$rocket-monitor-accent: mat.m2-define-palette($accent-palette, 200);

// The warn palette is optional (defaults to red).
$rocket-monitor-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rocket-monitor-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $rocket-monitor-primary,
      accent: $rocket-monitor-accent,
      warn: $rocket-monitor-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rocket-monitor-theme);

$primary: #5928e7;
$secondary: #49d6fd;
$dark: #172034;
$black: #0d121d;
$body-bg-dark: #000000;
$modal-content-bg: var(--bs-dark);
$modal-content-border-color: #000;

@import "../node_modules/bootstrap/scss/bootstrap";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$all-colors: map-merge-multiple(
  $blues,
  $indigos,
  $purples,
  $pinks,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $teals,
  $cyans
);

$utilities: map-merge(
  $utilities,
  (
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "color"), "values"),
              ($all-colors)
            )
        )
      )
  )
);

@import "bootstrap/scss/utilities/api";
